<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Expenses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">-->
    <!--    <link rel="stylesheet" href="../css/shards.min.css">-->
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/user/{id}/expenses(id=${user.id})}">Expenses</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a class="nav-link" th:href="@{/user/{id}/visualization(id=${user.id})}">Visualization</a></li>

                <li><a class="nav-link" th:href="@{/user/signup}">Sign up</a></li>

                <li><a class="nav-link" th:href="@{/logout}">Log out</a></li>

            </ul>
        </div>
    </nav>

<div  class="container my-5">
    <h2 class="my-5">Hello! </h2>
    <h5 th:text="${user.name}"></h5>
</div>

<div th:switch="${expenses}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No expense yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Expenses</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>date</th>
                        <th>amount</th>
                        <th>category</th>
                        <th>borrower</th>
                        <th>splitPercent</th>
                        <th>settled?</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="expense : ${expenses}">
                        <td th:text="${expense.id}"></td>
                        <td th:text="${expense.date}"></td>
                        <td th:text="${expense.amount}"></td>
                        <td th:text="${expense.category}"></td>
                        <td th:text="${expense.borrower?.name}"></td>
                        <td th:text="${expense.splitPercent}"></td>
                        <td th:text="${expense.settled}"></td>
                        <td>
                            <span th:if="${expense.borrower != null}">
                                <form th:action="@{/user/{userId}/expense/{expenseId}/settle(userId=${user.id}, expenseId=${expense.id})}" method="post">
                                    <button type="submit">settle</button>
                                </form>
                            </span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container my-5">
    <h2 class="my-5">Add Expense</h2>
    <form th:action="@{/user/{id}/expense/add(id=${user.id})}" method="post">
        <label>Amount: <input type="floatInput" name="amount"></label><br>
        <label>Date: <input type="date" name="date" required></label><br>
        <label>Category: <input type="text" name="category"></label><br>
        <label>Split with user: <input type="text" name="borrowerName"></label><br>
        <label>Split percentage: <input type="number", name="splitPercent"></label>
        <button type="submit">Add</button>
    </form>
</div>

<div th:switch="${relations}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No balance yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Balances</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>userA</th>
                        <th>userB</th>
                        <th>userB owes userA</th>
                        <th>settle all</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="relation : ${relations}">
                        <td th:text="${relation.userA.name}"></td>
                        <td th:text="${relation.userB.name}"></td>
                        <td th:text="${relation.amount}"></td>
                        <td>
                            <form th:with="relatedUserId=${user.id == relation.userA.id} ? ${relation.userB.id} : ${relation.userA.id}"
                                  th:action="@{/user/{userId}/expenses/{relatedUserId}/settle_all(userId=${user.id}, relatedUserId=${relatedUserId})}" method="post">
                                <button type="submit">settle up</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>